{{ define "query" }}
<form
    class="flex flex-col gap-1 w-fit"
    hx-post="/query"
    hx-target="#search-results"
    hx-swap="innerHTML"
>
    <div class="input-group">
        <select
            id="calendars"
            name="calendar"
            required
            class="px-1 pt-5 pb-2 block w-52 border-0 border-b-2 border-b-gray-100 bg-transparent text-white text-ellipsis"
        >
            > {{range .}}
            <option value="{{.Id}}">{{.Summary}}</option>
            {{end}}
        </select>
        <label for="calendars">Select calendar</label>
    </div>
    <div class="input-group">
        <input type="text" name="query" id="searchQuery" placeholder=" " />
        <label for="searchQuery">Search term</label>
    </div>
    <div class="input-group">
        <input
            type="date"
            name="dateStart"
            id="searchDateStart"
            placeholder=" "
        />
        <label for="searchDateStart">Start date</label>
    </div>
    <div class="input-group">
        <input type="date" name="dateEnd" id="searchDateEnd" placeholder=" " />
        <label for="searchDateEnd">End date</label>
    </div>
    <div class="input-group">
        <input
            type="number"
            name="maxResults"
            id="searchMaxResults"
            placeholder=" "
            value="1000"
        />
        <label for="searchMaxResults">Result count</label>
    </div>
    <button type="submit">Search</button>
</form>
{{ end }}
