<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="/static/styles.css" />
    {{ template "imports" . }}
</head>

<body>
    {{ if not .IsAuth }} {{ template "login" . }} {{ end }} {{ if .IsAuth }}
    <div class="flex gap-4">
        {{ template "query_form" .Calendars }}
        <div id="search-results"></div>
    </div>
    {{ end }}
</body>

</html>
